<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
    <add name="Entities" 
		 connectionString="metadata=res://*/ShanLiangModel.csdl|res://*/ShanLiangModel.ssdl|res://*/ShanLiangModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=ShanLiang2.1;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" 
		 providerName="System.Data.EntityClient" />
	  
    <add name="ShanLiangEntities" 
		 connectionString="metadata=res://*/ShanLiangModel.csdl|res://*/ShanLiangModel.ssdl|res://*/ShanLiangModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:karamucho.asuscomm.com,1433;initial catalog=ShanLiang2.1;persist security info=True;user id=ispan_304_a;password=aaaa1111bbbb2222;MultipleActiveResultSets=True;App=EntityFramework&quot;" 
		 providerName="System.Data.EntityClient" />
	  
	  <add name="ShanLiangLogin"
		 connectionString="Data Source=tcp:karamucho.asuscomm.com,1433;Initial Catalog=ShanLiang2.1;Persist Security Info=True;User ID=ispan_304_a;Password= aaaa1111bbbb2222"
		 providerName="System.Data.SqlClient" />
  </connectionStrings>		
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>